h1, h2 {
	color: #b84127;

}

p {
  color: #333;
}

a:focus, a:hover {
	text-decoration: none; 
}

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;

}

.main-container {
   max-width: 1200px;
   margin: auto;

}

#header {
  width: 100%;
  background-color: #b84127;
  min-height: 10px;
  text-align: right;

}

.social-icons {
   max-width: 30px;
   margin: 5px;

}

.logo {
   max-width: 150px;
   margin: 5px;

}

.social-icons:hover {
	opacity: .4;

}

.page-title {
	max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;

}

.title-sub-text {
	max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    padding-bottom: 10px;
    font-weight: 100;
    letter-spacing: 2px;
}

.project-tiles {
	display: inline;
	max-width: 100%;

}

.project-tiles:hover {
	opacity: .7;

}

.container {
	width: 100%;

}

.hero-image {
	padding-bottom: 30px;
	width: 100%;

}

.hero-image-mobile {
	display: none;
	max-width: 100%;

}

.intro-title {
	max-width: 720px;
	margin: auto;

}

.intro-copy {
   text-align: left;
   max-width: 720px;
   margin: auto;
   display: block;
   padding: 10px 0px 30px 0px;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: 500;
   letter-spacing: 1px;


}

.site-title {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: 100;
   letter-spacing: 1px;
   color: #b84127;
}

@media only screen and (max-width: 800px) {

.main-container {
   margin: none;

}

.site-title {	
	font-size: 10px;
}

}


@media only screen and (max-width: 414px) {
.site-title {
    font-size: 15px;
    padding-top: 8px;
}

.hero-image {
	display: none;

}

.hero-image-mobile {
	display: block;
	margin-top: 17px;

}

.project-tiles {
	max-width: 100%;
	width: 100%

}

.page-title {
	text-align: center;
	font-size: 36px;

}

.title-sub-text {
    text-align: center;
    font-size: 17px;
    padding-bottom: 10px;
    font-weight: 100;
    letter-spacing: 2px;
}

.intro-copy {
    line-height: 17px;
    font-size: 11px;
    max-width: 300px;
    text-align: center;


}

.intro-title {
	padding-top: 20px;
    line-height: 17px;
    max-width: 300px;
    text-align: center;
}

#header {
   min-height: 38px;
   text-align: left;
}

.social-icons {
	float: right;
}



}










